# **LIMPIEZA 2**

"Sin información": empresa, status_cuenta, semana_actual, razones_buro, riesgo, codigo_postal.

Mediana: puntos

Fecha "00/00/0000": fecha_ultimo_pago, fecha_pago_proximo

Media: porc_enganche

Eliminar_columnas: Unnamed33, Unnamed34, Unnamed35, Unnamed36

In [3]:
#Librerías
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
#Carga y visualización de archivos
cuentas = pd.read_excel("cuentas_credicel.xlsx")

#Para poder ver bases completas cuando necesitamos info
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [5]:
cuentas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22735 entries, 0 to 22734
Data columns (total 37 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   folio               22735 non-null  int64
 1   tag                 22735 non-null  object
 2   folio_solicitud     22735 non-null  int64
 3   fecha               22735 non-null  datetime64[ns]
 4   marca               22735 non-null  object
 5   modelo              22735 non-null  object
 6   plazo               22735 non-null  object
 7   precio              22735 non-null  float64
 8   enganche            22735 non-null  float64
 9   descuento           22735 non-null  float64
 10  semana              22735 non-null  int64
 11  monto_financiado    22735 non-null  float64
 12  costo_total         22735 non-null  int64
 13  monto_accesorios    22735 non-null  float64
 14  agente_venta        22735 non-null  object
 15  dis_venta           22735 non-null  object
 16  status              22735 non-null  int64
 17  fraude              22735 non-null  int64
 18  empresa             22722 non-null  object
 19  inversion           22735 non-null  int64
 20  pagos_realizados    22735 non-null  int64
 21  reautorizacion      22735 non-null  int64
 22  fecha_ultimo_pago   19379 non-null  datetime64[ns]
 23  fecha_pago_proximo  19379 non-null  datetime64[ns]
 24  status_cuenta       18538 non-null  object
 25  puntos              19140 non-null  float64
 26  riesgo              20262 non-null  object
 27  porc_enganche       20262 non-null  float64
 28  porc_tasa           22735 non-null  float64
 29  score_buro          22735 non-null  float64
 30  razones_buro        18230 non-null  object
 31  semana_actual       18230 non-null  object
 32  codigo_postal       22050 non-null  object
 33  Unnamed: 33         859 non-null    object
 34  Unnamed: 34         1203 non-null   object
 35  Unnamed: 35         2473 non-null   float64
 36  Unnamed: 36         1 non-null      float64
dtypes: datetime64[ns](3), float64(11), int64(9), object(14)
memory usage: 6.4+ MB

In [6]:
len(cuentas)

22735

In [7]:
cuentas.head(10)

,folio,tag,folio_solicitud,fecha,marca,modelo,plazo,precio,enganche,descuento,semana,monto_financiado,costo_total,monto_accesorios,agente_venta,dis_venta,status,fraude,empresa,inversion,pagos_realizados,reautorizacion,fecha_ultimo_pago,fecha_pago_proximo,status_cuenta,puntos,riesgo,porc_enganche,porc_tasa,score_buro,razones_buro,semana_actual,codigo_postal,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36
0,3,HDNAWQ3A,30,2021-11-12 19:00:05,ZTE,Blade A3 2020 RO B,26S,1949.0,780.0,0.0,81,1169.0,2106,0.0,Sintia Verenice Tenorio Perez E,mic0437,2,0,microtec,0,0,0,NaT,NaT,NaN,NaN,NaN,NaN,0.0,0.0,0,0,0,NaN,NaN,26.0,NaN
1,4,M418YNR4,33,2021-11-12 19:15:58,MOTOROLA,LTE XT2097-12 E7I POWER Azul,13S,2999.0,1050.0,0.0,225,1949.0,2925,0.0,Alvaro Rafael Pascual,mic015,2,0,microtec,0,0,0,NaT,NaT,NaN,NaN,NaN,NaN,0.0,0.0,0,0,0,NaN,NaN,13.0,NaN
2,5,SZ7V3NZT,37,2021-11-13 14:13:08,ZTE,BLADE A3 2020 Gris,13S,1959.0,490.0,0.0,170,1469.0,2210,0.0,Sintia Verenice Tenorio Perez E,mic0437,3,0,microtec,0,0,0,NaT,NaT,NaN,NaN,Cancelado,0.0,0.0,0.0,0,0,NaN,NaN,74,NaN,NaN
3,6,9I08UIQZ,38,2021-11-13 15:45:39,ZTE,BLADE A3 2020 Gris,13S,1959.0,490.0,0.0,170,1469.0,2210,0.0,Luz Aylin Hernandez Lopez1,mic0748,2,0,microtec,0,0,0,NaT,NaT,NaN,NaN,NaN,NaN,0.0,0.0,0,0,0,NaN,NaN,13.0,NaN
4,7,JMF4LKYU,44,2021-11-13 16:10:15,MOTOROLA,G10 B,39S,4299.0,1075.0,0.0,178,3224.0,6942,0.0,Sintia Verenice Tenorio Perez E,mic0437,1,0,microtec,0,0,0,2022-03-05,2022-03-12,Mora,0.0,0,0.0,0.0,0.0,NaN,NaN,74,NaN,NaN,NaN,NaN
5,8,FOBQ8A27,49,2021-11-13 16:50:50,MOTOROLA,LTE XT2097-12 E7I POWER Azul,26S,2999.0,750.0,0.0,156,2249.0,4056,0.0,Karim Hassan Mendez Animas GP,mic0569,2,0,microtec,0,0,0,NaT,NaT,NaN,NaN,NaN,NaN,0.0,0.0,0,0,0,NaN,NaN,26.0,NaN
6,9,UND81DCF,50,2021-11-13 17:19:13,MOTOROLA,E7I POWER 2+32 GB AZUL B,26S,2999.0,900.0,0.0,145,2099.0,3770,0.0,Luis Gerardo Almanzar Hernandez,mic0437,2,0,microtec,0,0,0,NaT,NaT,NaN,NaN,NaN,NaN,0.0,0.0,0,0,0,NaN,NaN,26.0,NaN
7,10,LMC1PBLV,54,2021-11-14 11:19:51,MOTOROLA,LTE XT2128-1 G20 Rosa,13S,3999.0,1500.0,0.0,288,2499.0,3744,0.0,Mayra Jazmin Reyes Patino,mic0666,2,0,microtec,0,0,0,NaT,NaT,NaN,NaN,NaN,NaN,0.0,0.0,0,0,0,NaN,NaN,13.0,NaN
8,11,5SDZN7O1,59,2021-11-14 13:34:57,KODAK,LTE SEREN D60LX Azul,26S,2889.0,1000.0,0.0,131,1889.0,3406,0.0,Luis Gerardo Almanzar Hernandez,mic0437,2,0,microtec,0,0,0,NaT,NaT,NaN,NaN,NaN,NaN,0.0,0.0,0,0,0,NaN,NaN,26.0,NaN
9,12,R523EMQT,62,2021-11-14 14:54:23,NOKIA,NOKIA 2.4 3+64 GB GRIS B,26S,2999.0,750.0,0.0,156,2249.0,4056,0.0,Rita Dalia Morales Flores,mic08q,1,0,microtec,0,15,0,2022-09-03,2022-12-06,Mora,0.0,0,0.0,0.0,0.0,NaN,NaN,74,NaN,NaN,NaN,NaN

## **Valores nulos**

In [ ]:
cuentas.isnull().sum().sum()

:

In [ ]:
cuentas.isnull().sum()

:

In [8]:
cuentas1 = cuentas.copy()

**String *Sin información***

In [9]:
#Sin información
columnas_string_rellenar = ["empresa", "status_cuenta", "semana_actual", "razones_buro", "riesgo" , "codigo_postal"]
cuentas1[columnas_string_rellenar] = cuentas1[columnas_string_rellenar].fillna("Sin Información")

In [ ]:
cuentas1.isnull().sum()

:

**Strings "00/00/0000"**

In [10]:
columnas_rellenar_fecha = ["fecha_ultimo_pago", "fecha_pago_proximo"]
cuentas1[columnas_rellenar_fecha] = cuentas1[columnas_rellenar_fecha].fillna("00/00/0000")

In [ ]:
cuentas1.isnull().sum()

:

**Numéricos con media**

In [11]:
cuentas1["porc_enganche"] = cuentas1["porc_enganche"].fillna(cuentas["porc_enganche"].mean())

**Numéricos con mediana**

In [12]:
cuentas1["puntos"] = cuentas1["puntos"].fillna(cuentas["puntos"].median())

In [ ]:
cuentas1.isnull().sum()

:

**Eliminación de columnas**

In [13]:
cuentas1 = cuentas1.drop(["Unnamed: 33", "Unnamed: 34", "Unnamed: 35", "Unnamed: 36"], axis=1)

In [ ]:
#Verificamos nulos
cuentas1.isnull().sum()

:

In [14]:
#Verficación de nulos completos
cuentas1.isnull().sum().sum()

0

In [ ]:
cuentas1.head(10)

:

## **Outliers**

In [ ]:
fig = plt.figure(figsize =(15, 8))
cuentas1.plot(kind='box', vert=False)
plt.title("Valores Atípicos del Dataframe")
plt.show()

:

In [15]:
#Separamos columnas
columnas1 = cuentas1.iloc[ : , 7:14]
columnas2 = cuentas1.iloc[ : , [16,17]]
columnas3 = cuentas1.iloc[ : , [19, 20, 21]]
columnas4 = cuentas1.iloc[ : , [25]]
columnas5 = cuentas1.iloc[ : , [27, 28, 29]]

cuentas_cuanti = pd.concat([columnas1, columnas2, columnas3, columnas4, columnas5], axis = 1)
cuentas_cuanti.head()

,precio,enganche,descuento,semana,monto_financiado,costo_total,monto_accesorios,status,fraude,inversion,pagos_realizados,reautorizacion,puntos,porc_enganche,porc_tasa,score_buro
0,1949.0,780.0,0.0,81,1169.0,2106,0.0,2,0,0,0,0,12.0,0.90057,0.0,0.0
1,2999.0,1050.0,0.0,225,1949.0,2925,0.0,2,0,0,0,0,12.0,0.90057,0.0,0.0
2,1959.0,490.0,0.0,170,1469.0,2210,0.0,3,0,0,0,0,12.0,0.00000,0.0,0.0
3,1959.0,490.0,0.0,170,1469.0,2210,0.0,2,0,0,0,0,12.0,0.90057,0.0,0.0
4,4299.0,1075.0,0.0,178,3224.0,6942,0.0,1,0,0,0,0,0.0,0.00000,0.0,0.0

In [16]:
#Tratamiento con desviación estándar
    #Marcamos límites
y = cuentas_cuanti
Limite_Superior= y.mean() + 3*y.std()
Limite_Inferior= y.mean() - 3*y.std()
print("Limite superior permitido", Limite_Superior)
print("Limite inferior permitido", Limite_Inferior)

Limite superior permitido precio               8081.558082
enganche             2356.496845
descuento             478.215020
semana                541.287392
monto_financiado     6366.317810
costo_total         12857.588246
monto_accesorios      191.260880
status                  2.611178
fraude                  0.864131
inversion               1.511599
pagos_realizados       39.306132
reautorizacion          0.578086
puntos                 42.145941
porc_enganche          18.135902
porc_tasa              24.630537
score_buro             13.931194
dtype: float64
Limite inferior permitido precio               -87.484900
enganche            -503.622066
descuento           -321.263535
semana               -65.792692
monto_financiado    -214.044583
costo_total        -1458.203597
monto_accesorios    -164.333344
status                -0.100423
fraude                -0.714494
inversion             -1.038408
pagos_realizados     -18.944575
reautorizacion        -0.509998
puntos               -14.640860
porc_enganche        -16.334762
porc_tasa            -21.606103
score_buro           -14.442358
dtype: float64

In [17]:
#Hacemos el cambio a un nuevo data frame
cuanti_cuentas_limpio_out = cuentas_cuanti[(y<=Limite_Superior)&(y>=Limite_Inferior)]
cuanti_cuentas_limpio_out.head()

,precio,enganche,descuento,semana,monto_financiado,costo_total,monto_accesorios,status,fraude,inversion,pagos_realizados,reautorizacion,puntos,porc_enganche,porc_tasa,score_buro
0,1949.0,780.0,0.0,81.0,1169.0,2106.0,0.0,2.0,0.0,0,0.0,0.0,12.0,0.90057,0.0,0.0
1,2999.0,1050.0,0.0,225.0,1949.0,2925.0,0.0,2.0,0.0,0,0.0,0.0,12.0,0.90057,0.0,0.0
2,1959.0,490.0,0.0,170.0,1469.0,2210.0,0.0,NaN,0.0,0,0.0,0.0,12.0,0.00000,0.0,0.0
3,1959.0,490.0,0.0,170.0,1469.0,2210.0,0.0,2.0,0.0,0,0.0,0.0,12.0,0.90057,0.0,0.0
4,4299.0,1075.0,0.0,178.0,3224.0,6942.0,0.0,1.0,0.0,0,0.0,0.0,0.0,0.00000,0.0,0.0

In [18]:
#Observamos valores atípicos del data frame
outliers_cuan_cuentas= cuentas_cuanti[(y>Limite_Superior)|(y<Limite_Inferior)]
outliers_cuan_cuentas.head()

,precio,enganche,descuento,semana,monto_financiado,costo_total,monto_accesorios,status,fraude,inversion,pagos_realizados,reautorizacion,puntos,porc_enganche,porc_tasa,score_buro
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
#Cambiamos nuevo nulos a media
cuanti_cuentas_limpio_out_mean = cuanti_cuentas_limpio_out.copy()
cuanti_cuentas_limpio_out_mean = cuanti_cuentas_limpio_out.fillna(cuanti_cuentas_limpio_out.mean())
cuanti_cuentas_limpio_out_mean.head()

,precio,enganche,descuento,semana,monto_financiado,costo_total,monto_accesorios,status,fraude,inversion,pagos_realizados,reautorizacion,puntos,porc_enganche,porc_tasa,score_buro
0,1949.0,780.0,0.0,81.0,1169.0,2106.0,0.0,2.000000,0.0,0,0.0,0.0,12.0,0.90057,0.0,0.0
1,2999.0,1050.0,0.0,225.0,1949.0,2925.0,0.0,2.000000,0.0,0,0.0,0.0,12.0,0.90057,0.0,0.0
2,1959.0,490.0,0.0,170.0,1469.0,2210.0,0.0,1.243346,0.0,0,0.0,0.0,12.0,0.00000,0.0,0.0
3,1959.0,490.0,0.0,170.0,1469.0,2210.0,0.0,2.000000,0.0,0,0.0,0.0,12.0,0.90057,0.0,0.0
4,4299.0,1075.0,0.0,178.0,3224.0,6942.0,0.0,1.000000,0.0,0,0.0,0.0,0.0,0.00000,0.0,0.0

In [20]:
#Para crear el dataframe de cualitativas, solo se "restan" aquellas variables que ya ocupamos del dataframe de cuantitatuvas
columnas_a_eliminar = cuentas_cuanti.columns
cuentas_cuali = cuentas1.drop(columns=columnas_a_eliminar)
cuentas_cuali.columns

Index(['folio', 'tag', 'folio_solicitud', 'fecha', 'marca', 'modelo', 'plazo',
       'agente_venta', 'dis_venta', 'empresa', 'fecha_ultimo_pago',
       'fecha_pago_proximo', 'status_cuenta', 'riesgo', 'razones_buro',
       'semana_actual', 'codigo_postal'],
      dtype='object')

In [ ]:
#Volvemos a observar en diagrama de cajas
fig = plt.figure(figsize =(15, 8))
cuanti_cuentas_limpio_out_mean.plot(kind='box', vert=False)
plt.title("Valores Atípicos del Dataframe Limpio")
plt.show()

:

**Juntamos y guardamos nueva base 1**

In [21]:
cuentas_final1 = pd.concat([cuanti_cuentas_limpio_out_mean, cuentas_cuali])
cuentas_final1.to_csv("Credicel Limpio2.csv")